.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: auto;

  table {


    td {
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 24ch;
    }
  }

}

.table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
