.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  margin: auto;
}

.info div {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }

  textarea {
    min-height: 32px;
  }
}
