<div mat-dialog-title>Корзина</div>
<form [formGroup]="cartForm">
  <div class="content">
    <div class="cards" mat-dialog-content>
      <mat-card class="card" *ngFor="let data of dataSource" style="{{!_cartService.isInCart(data.id) ? 'display: none' : ''}}">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-sm-image src="{{data.imageUrl}}" (error)="_utilsService.handleImageError($event)">
            <mat-card-title class="title">{{data.name}}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <div class="bottom">
              <div class="price">
                За 1 одиницю: ₴ {{data.price.toLocaleString()}}
                <br>
                <b>
                  Всього: ₴ {{(data.price*_cartService.getItemAmount(data.id)).toLocaleString()}}
                </b>
              </div>
              <div class="amount">
                <button mat-icon-button (click)="_cartService.removeOneFromCart(data.id)" disabled="{{_cartService.getItemAmount(data.id) <= 0}}" type="button">
                  <mat-icon>remove</mat-icon>
                </button>
                <p>{{_cartService.getItemAmount(data.id)}}</p>
                <button mat-icon-button (click)="_cartService.addOneToCart(data.id)" disabled="{{_cartService.getItemAmount(data.id) >= data.stock}}" type="button">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="form">
      <div class="row">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>Ім'я</mat-label>
          <input matInput type="text" placeholder="Андрій" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>Номер телефону</mat-label>
          <span matTextPrefix>+380&nbsp;</span>
          <input matInput type="tel" placeholder="6712312312" formControlName="phone" required pattern="[0-9]{9}" maxlength="9">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>Пошта</mat-label>
          <input matInput type="email" placeholder="andriy@mail.ua" formControlName="email" required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>city</mat-label>
          <input matInput type="text" placeholder="Київ" formControlName="city" required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>Адреса</mat-label>
          <input matInput type="text" placeholder="вул. Шевченка 1" formControlName="firstAddress" required>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="total" mat-dialog-content>
    До сплати: ₴ {{this.getTotalPrice().toLocaleString()}}
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button mat-dialog-close type="button">Закрити</button>
    <button mat-raised-button color="primary" type="submit" (click)="onSubmitClick()">Оформити замовлення</button>
  </div>

</form>
