<mat-toolbar color="primary">

  <button
    mat-icon-button aria-label="Icon-button with a menu"
    [matMenuTriggerFor]="menu" [ngStyle]="{'display': (!isAuthenticated) ? 'none' : 'block'}"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <a mat-menu-item routerLink="/">
      <mat-icon>menu_book</mat-icon>
      <span>Меню</span>
    </a>

    <a mat-menu-item routerLink="/admin/items">
      <mat-icon>edit</mat-icon>
      <span>Редагування товарів</span>
    </a>

    <a mat-menu-item routerLink="/admin/orders">
      <mat-icon>list_alt</mat-icon>
      <span>Обробка замовлень</span>
    </a>

    <a mat-menu-item routerLink="/admin/users">
      <mat-icon>group</mat-icon>
      <span>Користувачі</span>
    </a>
  </mat-menu>

  <a style="text-decoration: none; color: white" routerLink="/">Pizzeria</a>

  <span class="spacer"></span>

  <button mat-icon-button aria-label="Cart icon" (click)="openItemUserDialog()">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button mat-icon-button aria-label="User icon" [ngStyle]="{'display': (isAuthenticated) ? 'none' : 'block'}" routerLink="/login">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button mat-icon-button aria-label="User icon" [ngStyle]="{'display': (!isAuthenticated) ? 'none' : 'block'}" [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <a mat-menu-item [routerLink]="['/users', userDTO?.uuid]">
      <mat-icon>face</mat-icon>
      {{userDTO?.firstName + " " + userDTO?.secondName}}
    </a>
    <a mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Вихід</span>
    </a>
  </mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>



