<div mat-dialog-title>{{ "Вміст замовлення" }}</div>


<div mat-dialog-content class="content">
    <div class="cards" mat-dialog-content>
        <mat-card class="card" *ngFor="let data of dataSource">
            <mat-card-header>
                <mat-card-title-group>
                    <img mat-card-sm-image src="{{data.imageUrl}}" (error)="_utilsService.handleImageError($event)">
                    <mat-card-title class="title">{{data.name}}</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <div class="bottom">
                    <div>
                        Кількість: {{data.itemAmount}}
                        <br>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button (click)="onClick()" type="button">Закрити</button>
    </div>
</div>
