img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 0;
}

.example-header-image {
  background-image: url('https://images.emojiterra.com/google/android-12l/512px/1f355.png');
  background-size: cover;
}

.cards {
  display: flex;
  gap: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px 0;

  .card {
    max-width: 350px;
  }
}

.card-header {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 24ch;
}

.description {
  overflow: hidden;
  max-width: 128ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 16px;
}

.spacer {
  flex: 1 1 auto;
}

