.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.content p {
  display: flex;
  align-items: center;
  justify-content: center;
}
