/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  //background-image: url("https://media.discordapp.net/attachments/602926740775632896/1117494231922131114/Bg_kidsparty2.gif");
  //background-repeat: no-repeat;
  //background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px black;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000A0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000080;
}
