<div mat-dialog-title>Корзина</div>

<div class="content" mat-dialog-content>
  <mat-card class="card" *ngFor="let data of dataSource">
    <mat-card-header>
      <mat-card-title-group>
        <img mat-card-sm-image src="{{data.imageUrl}}" (error)="_utilsService.handleImageError($event)">
        <mat-card-title class="title">{{data.name}}</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <div class="bottom">
          <div class="price">
            За 1 одиницю: ₴ {{data.price.toLocaleString()}}
            <br>
            <b>
              Всього: ₴ {{(data.price*_cartService.getItemAmount(data.id)).toLocaleString()}}
            </b>
          </div>
          <div class="amount">
            <button mat-icon-button (click)="_cartService.removeOneFromCart(data.id)" disabled="{{_cartService.getItemAmount(data.id) <= 1}}">
              <mat-icon>remove</mat-icon>
            </button>
            <p>{{_cartService.getItemAmount(data.id)}}</p>
            <button mat-icon-button (click)="_cartService.addOneToCart(data.id)" disabled="{{_cartService.getItemAmount(data.id) >= data.stock}}">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="total" mat-dialog-content>
  До сплати: ₴ {{this.getTotalPrice().toLocaleString()}}
</div>

<div mat-dialog-actions class="action">
  <button mat-raised-button mat-dialog-close type="button">Закрити</button>
  <button mat-raised-button color="primary" type="submit">Оформити замовлення</button>
</div>
