.card {
  width: 420px;
}

button {
  flex: 1;
}

img {
  object-fit: cover;
  border: 0;
}

.amount {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  flex-direction: row;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 24ch;
  overflow: hidden;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .price {
    text-align: left;
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  overflow-y: scroll;
  max-height: 70vh;
  padding: 16px 0;
}
